@charset "UTF-8";
    /* 스타일 초기화 */
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        
    }
    button{
        cursor: pointer;
    }
    *{
        padding : 0;
        margin : 0;
        list-style: none !important;
        text-decoration : none !important;
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
    }
   

    /* 공용 클래스 */
    /* float 부모요소에는 무조건 clear 삽입 */
    .clear::after {
        content: '';
        display: block;
        clear: both;
    }

    /* 헤더 영역 */
    header{
        z-index : 10000;
        width : 100%;
        height : 80px;
        display : block;
        position: fixed;
        border-bottom: 1px solid rgb(226, 220, 220);
        background-color: #fff;
    }

    .wrap {
        width: 1300px;
        margin: 0 auto;
        height: 100%;
    }
    #logo{
        float: left;
        height: 50px;
        width: 200px;
        margin-top: 13px;
        overflow: hidden;

    }
    #logo img{
        width : 100%;
        height : 100%;
    }

    #mainMenuBar{
        float: left;
        width: 80%;
    }
    #mainMenuBar .mainCategory{
        float: left;
        padding-top: 30px;
        line-height: 49px;
    }

    /* 메인메뉴 */
    #mainMenu{
        float : left;
        margin-right: 20px;
    }
    #mainMenu .mainCategory:first-child{
        width : 80px;
    }
    #mainMenu .mainCategory{
        float: left;
        margin-left: 20px;
        width: 65px;
        text-align: center;
    }
    #mainMenu a:hover{
        border-bottom: 2px solid #FF8399;
    }
    #mainMenu li a {
        color: #171717;
    }
    #mainMenu a{
        float: left;
    }

    /* 카테고리 아이콘 */
    #mainMenu .material-symbols-outlined {
        font-size: 15px;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }
    
    /* 카테고리 */
    #mainMenu > li > ul{
        display : none;
    }
    #mainMenu > li > a:hover + ul{
        display : block;
    }
    #mainMenu > li > ul:hover{
        display : block;
    }
    .detailCategory a{
        width:120px;
        height:50px;
        background-color: #fff;
    }
    .detailCategory li{
        padding-top : 0px;
    }

    /* 회원메뉴 */
    #memberMenu {
        float: right;

    }
    #memberMenu li{
        margin-left: 16px;
        font-size: 13px;
        border: 1px solid rgb(223,223,223);
        padding: 8px 16px 8px;
        line-height: 16px;
        margin-top: 35px;
        border-radius: 30px;
        cursor: pointer;
        float: left;
        margin-left: 20px;
        text-align: center;
    }	
    #memberMenu li a{
        color: #161616 !important;
    }	
    #memberMenu li:hover{
        border : 1px solid #FF8399;
        background-color: #fff3f3;
    }
    /* 검색 */
    .search_area{
    /*   border:1px solid blue; */
    }
    #search_main{
        float: left;
        width: 300px;
        height: 36px;
        margin-top: 35px;
        margin-left : 90px;
        border: 1px solid black;
        border-radius: 20px;
        padding-left: 10px;
    }
    #search_main button{
        margin : 3px 10px 5px 0px;
        float : right;
        border: none;
        background-color: #fff;
    }

    /* 검색 아이콘 */
    #search_main .material-symbols-outlined {
        font-size: 25px;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    #search_input2{
        margin-top: 3px;
        margin-left : 5px;
        width: 160px;
        height: 26px;
        line-height: 30px;
        border: none;
        font-size: 12px;
    }
    #search_input2:focus{
        outline: none;
    }
    [type=submit]:not(:disabled), button:not(:disabled){
    	outline: none !important;
    }

    /* 검색리스트 */
    #search_recent_no{
        text-align: center;
        border-bottom: 1px solid pink;
        height : 30px;
        color: gray;
    }
    .search_list{  
        /*  border:1px solid black; */  /* 구분하려고 해둔것 나중에 지워야 함 */
    }
    #search_list_area{
        /* border: 1px solid black; */
        /* position: absolute; */
        left : 885px;
        width: 300px;
        height: auto;
        top: 80px;
        border-radius: 10px;
        padding: 15px;
        display: none;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1) ;
        background-color: #fff;
    }
    #search_list_area li{
        float: none;
        padding-top: 0px;
        height : 30px;
        line-height: 30px;
        padding-left: 10px;
    }
    #search_list_area ul>li:hover{
        cursor: pointer;
        background-color: rgb(248, 229, 233);
        border-radius: 10px;
    }
    #search_recent_title{ /* 최근검색어 너무붙어있어서 띄우기 */
        padding: 10px;
    }

    /* 헤더 빈공간 채워놓는 용 */
    .headerBlank{
        height : 80px;
    }
    
    /* 탑버튼 아이콘 */
    #top .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }

    /* 탑버튼 */
    #top a{
        width: 50px;
		height: 50px;
		background-color: #FF8399;
		position: fixed;
		bottom: 5%;
		right: 5%;
		border-radius: 50px;
		color: white;
		text-align: center;
		line-height: 50px;
    }
    #top span{
        margin-top: 13px;
    }
    
    /* 로그인 모달 */
    #loginModal-content{
    	width : 500px !important;
    	height : 650px;
    }
    #loginModal-header{
    	border-bottom : none;
    }
    #loginModal-header img{
        width : 200px;
        height : 200px;
        margin : auto;
        margin-right : 105px;
        margin-top: 20px;
    }
    #loginModal-header .close{
        padding : 0;
        margin : 0;
    }
    #loginTitle{
        text-align: center;
        color : #FF8399;
        font-family: 'Geologica', sans-serif;
        font-weight: bold;
    }
    #loginModal-body input{
        margin : 0px 33px 0px 33px;
        width : 400px;
        height : 60px;
    }
    #loginModal-body .mb-2{
        margin-bottom: 0 !important;
    }
    #loginModal-body{
        margin-top: 20px;
    }
    #loginModal-footer{
        border-top : none;
    }
    #loginModal-href{
        margin-top: 10px;
        margin : auto;
    }
    #loginModal-href a{
        color: #a0a0a0 !important;
    }
    #loginModal-footer button{
        width : 400px;
        height : 60px;
        margin : auto;
        background-color: #FF8399;
        border : none;
    }