<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />	
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.wonderPick.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.wonderPick.member.model.vo.MemberImage" alias="memberImage" />
		
		<typeAlias type="com.kh.wonderPick.board.boardCommon.model.vo.Board" alias="board" />
		<typeAlias type="com.kh.wonderPick.board.artBoard.model.vo.ArtBoard" alias="artBoard" />
		<typeAlias type="com.kh.wonderPick.board.artBoard.model.vo.Option" alias="option" />
		<typeAlias type="com.kh.wonderPick.board.goods.model.vo.Goods" alias="goods" />
		<typeAlias type="com.kh.wonderPick.board.boardCommon.model.vo.BoardImage" alias="boardImage" />
		<typeAlias type="com.kh.wonderPick.board.contestBoard.model.vo.Contest" alias="contest"/>
		<typeAlias type="com.kh.wonderPick.board.review.model.vo.Review" alias="review" />
		<typeAlias type="com.kh.wonderPick.board.boardCommon.model.vo.Reply" alias="reply" />
		<typeAlias type="com.kh.wonderPick.board.boardCommon.model.vo.Re_Reply" alias="reReply" />
		<typeAlias type="com.kh.wonderPick.board.reply.model.vo.Reply1" alias="reply1" />
		<typeAlias type="com.kh.wonderPick.board.reply.model.vo.Re_Reply1" alias="reReply1" />
	

		<typeAlias type="com.kh.wonderPick.chatting.model.vo.Chating" alias="chating"/>
      	<typeAlias type="com.kh.wonderPick.chatting.model.vo.BeforeReadChatings" alias="beforeReadChatings"/>

	</typeAliases>
	
	<!-- ** 주의 : 미리 등록을 해두기 위해선 해당 클래스가 진짜 존재하고 있어야함 -->
	
	<!-- 
		environments, dataSource에 기술했던 DB연결정보
		=> DB등록정보는 서버연동과 동시에 이루어져야 하는 작업
		서버 켜짐과 동시에 바로 읽혀지는 파일은 root-context.xml에 기술할 예정
	-->
	
	
	<mappers>
		<mapper resource="/mappers/artBoard-mapper.xml"/>
		<mapper resource="/mappers/contestBoard-mapper.xml"/>
		<mapper resource="/mappers/goods-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/chating-mapper.xml" />
		<mapper resource="/mappers/review-mapper.xml" />
		<mapper resource="/mappers/reply-mapper.xml" />
	</mappers>	
	
	
	<!-- *** 주의 : 미리 등록을 해두려면 해당 mapper파일이 진짜 존재하고 있어야함 + namesapce속성까지 작성 O -->
	
</configuration>
