<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="artBoardMapper">

	<resultMap id="board" type="board">
		<result column="BOARD_NO" property="boardNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="BOARD_COUNT" property="boardCount" />
		<result column="BOARD_TYPE" property="boardType" />
	</resultMap>
	
	<resultMap id="artBoard" type="artBoard">
		<result column="FILE_TYPE" property="fileType" />
		<result column="DPI" property="dpi" />
		<result column="DEFAULT_SIZE" property="defaultSize" />
		<result column="MODIFY_COUNT" property="modifyCount" />
		<result column="WORKDAY" property="workday" />
		<result column="CATEGORY" property="category" />
		<result column="PRICE" property="price" />
		<result column="HEART" property="heart" />
		<collection property="board" resultMap="board" />
		<collection property="member" resultMap="member" />
		<collection property="memberImage" resultMap="memberImage" />
	</resultMap>
	
	<resultMap id="member" type="member">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="NICKNAME" property="nickName" />
	</resultMap>
	
	<resultMap id="memberImage" type="memberImage">
		<result column="IMG_NO" property="imgNo" />
		<result column="MEMBER_MODIFY_NAME" property="memberModifyName" />
	</resultMap>
	
	
	<resultMap id="option" type="option">
		<result column="option_no" property="optionNo" />
		<result column="board_no" property="board_no" />
		<result column="main_option" property="mainOp" />
		<collection property="detailOption" resultMap="detailOption" />
	</resultMap>
	
	<resultMap id="detailOption" type="detailOption">
		<result column="option_no" property="optionNo" />
		<result column="DETAIL" property="detail" />
		<result column="PRICE" property="price" />
	</resultMap>
	
	<resultMap id="boardImage" type="boardImage">
		<result column="board_img_no" property="boardImgNo" />
		<result column="board_no" property="boardNo" />
		<result column="origin_name" property="originName" />
		<result column="modify_name" property="modifyName" />
		<result column="file_level" property="fileLevel" />
		<result column="file_path" property="filePath" />
	</resultMap>
	
	
	
	<resultMap id="review" type="review">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="STAR" property="star" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="MODIFY_NAME" property="modifyName" />
	</resultMap>

	<resultMap id="artBoardDTO" type="com.kh.wonderPick.board.artBoard.model.vo.ArtBoardDTO">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="NICKNAME" property="nickname" />
		<result column="PRICE" property="price" />
		<result column="STAR" property="star" />
		<result column="MODIFY_NAME" property="modifyName" />
		<result column="MEMBER_MODIFY_NAME" property="memberModifyName" />
		<result column="CATEGORY" property="category" />
		<result column="HEART" property="heart" />
	</resultMap>

	<select id="selectArtListCount" resultType="_int" parameterType="searchArt">
		select
		       count(*)
		  from
		       board b
		  join
		       art_board ab on(b.board_no = ab.board_no)
		  join
		       member m on(m.member_no = b.member_no)
		 where
		       board_type = 'D'
		   and
		       b.status = 'Y'
 	   		<if test="category != null and category != ''">
		   and
		   	   ab.category = #{ category }
 	   		</if>
	 	   	<if test="null != search and search != ''">
	 	   and
		   		<choose>
					<when test="search == 'artist'">
						m.nickname like '%'||#{ keyword }||'%'
					</when>
					<when test="search == 'name'">
						b.board_title like '%'||#{ keyword }||'%'
					</when>
					<when test="search == 'all'">
						m.nickname like '%'||#{ keyword }||'%'
						or
						b.board_title like '%'||#{ keyword }||'%'
					</when>
				</choose>
			</if>
	</select>
	
	<select id="selectArtList" resultMap="artBoardDTO" parameterType="searchArt">
		select
		       ab.board_no
		      ,b.board_title
		      ,NVL(bi.modify_name, 'resources/boardUpfiles/artBoardFiles/2023061222534502.jpg') modify_name
		      ,m.nickname
		      ,AVG(NVL(r.star, 0))
		      ,NVL(ab.price, 0) price
		      ,NVL(mi.MEMBER_MODIFY_NAME, 'resources/memberUpfiles/basicProfile.jpg') MEMBER_MODIFY_NAME
		  	  ,ab.category
		  	  ,NVL(count(h.member_no), 0) heart
		  from
		       art_board ab
		  join
		       board b on(b.board_no = ab.board_no)
		  join
		       board_image bi on(bi.board_no = b.board_no)
		  join
		       member m on(b.member_no = m.member_no)
		  left join
		       member_image mi on(mi.member_no = b.member_no)
		  left join
		       review r on(b.board_no = r.board_no)
		  left join
               heart h on(ab.board_no = h.board_no)
		 where
		       b.status = 'Y'
		   and
		       bi.file_level = '1'
			<if test="category != null and category != ''">
		   and
		       ab.category = #{ category }
			</if>
			<if test="null != search and search != ''">
				and
				<choose>
					<when test="search == 'artist'">
						m.nickname like '%'||#{ keyword }||'%'
					</when>
					<when test="search == 'name'">
						b.board_title like '%'||#{ keyword }||'%'
					</when>
					<when test="search == 'all'">
						(
						m.nickname like '%'||#{ keyword }||'%'
						or
						b.board_title like '%'||#{ keyword }||'%'
						)
					</when>
				</choose>
			</if>
		 group by
		       ab.board_no, b.board_title, m.nickname, ab.price, bi.modify_name, mi.MEMBER_MODIFY_NAME, ab.category
		 order by
		 	<if test="null != selectOrder and selectOrder != 'registration'">
				<choose>
					<when test="selectOrder == 'heart'">
						heart desc,
					</when>
					<when test="selectOrder == 'cost'">
						ab.price desc,
					</when>
				</choose>
		 	</if>
		       board_no desc
	</select>

	<insert id="insertBoard" parameterType="board">
		insert
		  into
		  	   board
		  	   (
		  	   board_no,
		  	   member_no,
		  	   board_title,
		  	   board_content,
		  	   create_date,
		  	   status,
		  	   board_count,
		  	   board_type
		  	   )
		values
			   (
			   seq_board_no.nextval,
			   #{memberNo},
               #{boardTitle},
               #{boardContent},
               default,
               default,
               default,
               'D'
			   )
	</insert>

	<insert id="insertArtBoard" parameterType="artBoard">
		insert
		  into
		  	   art_board
		  	   (
		  	   BOARD_NO,
		  	   FILE_TYPE,
		  	   DPI,
		  	   DEFAULT_SIZE,
		  	   MODIFY_COUNT,
		  	   WORKDAY,
		  	   CATEGORY,
		  	   PRICE
		  	   )
		values
			   (
			   seq_board_no.currval,
			   #{fileType},
               #{dpi},
               #{defaultSize},
               #{modifyCount},
               #{workday},
               #{category},
               #{price}
			   )
	</insert>
	
	<insert id="insertOptions" parameterType="option">
		insert
		  into
		  	   art_option
		  	   (
		  	   OPTION_NO
		  	  ,BOARD_NO
		  	  ,MAIN_OPTION
		  	   )
		values
			   (
		       SEQ_OPTION_NO.nextval
		      ,seq_board_no.currval
		      ,#{ mainOp }
			   )
	</insert>
	
	<insert id="insertDetailOption" parameterType="detailOption">
		insert
		  into
		  	   art_option_detail
		  	   (
		  	   OPTION_NO
		  	  ,DETAIL
		  	  ,PRICE
		  	   )
		values
			   (
		       SEQ_OPTION_NO.currval
		      ,#{ detail }
		      ,#{ price }
			   )
	</insert>
	
	<insert id="insertFiles" parameterType="boardImage">
		insert
		  into
		  	   board_image
		  	   (
		  	   BOARD_IMG_NO
		  	  ,BOARD_NO
		  	  ,ORIGIN_NAME
		  	  ,MODIFY_NAME
		  	  ,UPLOAD_DATE
		  	  ,FILE_LEVEL
		  	  ,FILE_PATH
		  	   )
		values
			   (
		       seq_boardimg_no.nextval
		      ,seq_board_no.currval
		      ,#{originName}
		      ,#{modifyName}
		      ,sysdate
		      ,#{fileLevel}
		      ,#{filePath}
			   )
	</insert>

	<select id="selectArtBoard" parameterType="hashmap" resultMap="artBoard">
		select
		       b.member_no
		      ,nickname
		      ,NVL(mi.MEMBER_MODIFY_NAME, 'resources/memberUpfiles/basicProfile.jpg') MEMBER_MODIFY_NAME
		      ,board_title
		      ,board_content
		      ,create_date
		      ,board_count
		      ,file_type
		      ,dpi
		      ,default_size
		      ,modify_count
		      ,workday
		      ,category
		      ,price
              ,NVL(h.member_no, 0) heart
		  from
		       art_board ab
		  join
		       board b on(ab.board_no = b.board_no)
		  join
		       member m on(b.member_no = m.member_no)
		  left join
		       member_image mi on(mi.member_no = m.member_no)
          left join
               (select
                       *
                  from
                       heart
                 where
                       member_no = #{ mno }
                   and
                       board_no = #{ bno }) h on(ab.board_no = h.board_no)
		 where
		       b.board_no = #{ bno }
		   and
		       b.status = 'Y'
	</select>
	
	<select id="selectOptionList" parameterType="_int" resultMap="option">
		select
		       option_no
		      ,main_option
              ,detail
              ,price
		  from
		       art_option ar
          join
               art_option_detail ad using(option_no)
		 where
		       board_no = #{ bno }
	</select>
	

	<select id="selectBoardImage" parameterType="_int" resultMap="boardImage" >
		select
		 	   board_img_no
		 	  ,board_no
		 	  ,origin_name
		 	  ,modify_name
		 	  ,upload_date
		 	  ,file_level
		 	  ,file_path
		  from
		  	   board_image
		 where
		  	   board_no = #{ bno }
		   and
               file_level in(1, 2)
	</select>
	
	<select id="selectBoardImgNoCount" parameterType="string" resultType="_int" >
		select
		 	   count(board_img_no)
		  from
		  	   board_image
		 where
		  	   modify_name = #{ src }
	</select>
	<select id="selectBoardImgNo" parameterType="string" resultType="_int" >
		select
		 	   board_img_no
		  from
		  	   board_image
		 where
		  	   modify_name = #{ src }
	</select>

	
	
	
	
	
	
	<update id="updateBoard" parameterType="board">
		update
			   board
		   set
		   	   board_title = #{boardTitle} 
		  	  ,board_content = #{boardContent}
		 where
		 	   board_no = #{boardNo}
	</update>

	<update id="updateArtBoard" parameterType="artBoard">
		update
			   art_board
		   set
		   	   FILE_TYPE = #{fileType}
		   	  ,DPI = #{dpi}
		   	  ,DEFAULT_SIZE = #{defaultSize}
		   	  ,MODIFY_COUNT = #{modifyCount}
		   	  ,WORKDAY = #{workday}
		   	  ,CATEGORY = #{category}
		   	  ,PRICE = #{price}
		 where
		 	   board_no = #{boardNo}
	</update>
	
	
	<delete id="deleteDetailOption" parameterType="_int">
		delete
		  from
		  	   art_option_detail
		 where
		 	   option_no = #{ optionNo }
	</delete>
	<delete id="deleteOption" parameterType="_int">
		delete
		  from
		  	   art_option
		 where
		 	   board_no = #{ bno }
	</delete>
	
	<insert id="updateInsertOptions" parameterType="option">
		insert
		  into
		  	   art_option
		  	   (
		  	   OPTION_NO
		  	  ,BOARD_NO
		  	  ,MAIN_OPTION
		  	   )
		values
			   (
		       SEQ_OPTION_NO.nextval
		      ,#{ boardNo }
		      ,#{ mainOp }
			   )
	</insert>
	
	<delete id="deleteFiles" parameterType="_int">
		delete
		  from
		       board_image
		 where
		       BOARD_IMG_NO = #{ deleteBoardImgNo }
	</delete>

	<update id="updateFiles" parameterType="boardImage">
		update
		       board_image
		   set
		       origin_name = #{ originName }
		      ,modify_name = #{ modifyName }
		      ,upload_date = #{ uploadDate }
		      ,file_path = #{ filePath }
		 where
		       board_img_no = #{ boardImgNo }
	</update>
	
	<insert id="updateInsertFiles" parameterType="boardImage">
		insert
		  into
		  	   board_image
		  	   (
		  	   BOARD_IMG_NO
		  	  ,BOARD_NO
		  	  ,ORIGIN_NAME
		  	  ,MODIFY_NAME
		  	  ,UPLOAD_DATE
		  	  ,FILE_LEVEL
		  	  ,FILE_PATH
		  	   )
		values
			   (
		       seq_boardimg_no.nextval
		      ,#{boardNo}
		      ,#{originName}
		      ,#{modifyName}
		      ,sysdate
		      ,#{fileLevel}
		      ,#{filePath}
			   )
	</insert>
	
	<update id="updateBoardContent" parameterType="board">
		update
		       board
		   set
		       board_content = #{ boardContent }
		 where
		       board_no = #{ boardNo }
	</update>
	
	


	<select id="selectReplyList" resultType="reply">
		select
			   reply_no replyNo,
			   member_no memberNo,
		       nickname nickname,
		       content content,
		       to_char(create_date, 'YYYY-MM-DD') as "createDate"
		       
		  from reply
		  join member using (member_no)
		 where board_no = #{boardNo}
		 order 
		 	by 
		 	   create_date desc
	</select>
	<insert id="insertReply" parameterType="reply">
	    insert
	      into
	           reply
	           (
	           reply_no, 
	           board_no,
	           member_no,
	           content,
	           create_date
	           ) 
	     values
	           (
	           seq_reply_no.nextval,
	           #{boardNo},
	           #{memberNo},
	           #{content},
	           SYSDATE
	           )
	</insert>
	<delete id="deleteReply" parameterType="_int">
		DELETE
		  FROM
		  	   reply
		 WHERE 
		       reply_no = #{ replyNo }
	</delete>
	
	
	<update id="deleteBoard" parameterType="_int">
		update
			   board
		   set
		   	   STATUS = 'N'
		 where
		 	   board_no = #{boardNo}
	</update>
	










</mapper>
	
	
	
	