<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="contestBoardMapper">
	
		<resultMap id="contestBoardResultSet" type="contest">
		
			<result column="BOARD_NO" property="boardNo"/>
			<result column="BOARD_TITLE" property="boardTitle"/>
			<result column="BOARD_CONTENT" property="boardContent"/>
		
			
			<result column="NICKNAME" property="nickName"/>
			
			<result column="MEMBER_MODIFY_NAME" property="memberModifyName"/>
			<result column="MODIFY_NAME" property="modifyName"/>
			<result column="UPLOAD_DATE" property="uploadDate"/> 
			
				
			<result column="EMOTICON_NO" property="emoticonNo"/>
			<result column="PRICE" property="price"/>
			<result column="PRICE_STATUS" property="priceStatus"/>
			
			<result column="VOTE_STATUS" property="voteStatus"/>
			<result column="VOTE_COUNT" property="voteCount"/>
			<result column="FILE_PATH" property="filePath"/>
			
			<result column="PRICE" property="price" />
			<result column="WINNER" property="winner"/>
			<result column="MEMBER_NO" property="memberNo"/>
			
			
		</resultMap>
		
		<select id="selectTop10" resultMap="contestBoardResultSet">
			SELECT  *
		        FROM(   SELECT
		                     BOARD.BOARD_TITLE    
		                    ,MEMBER.NICKNAME      
		                    ,MEMBER_IMAGE.MEMBER_MODIFY_NAME    
		                    ,BOARD_IMAGE.MODIFY_NAME   
		                    ,BOARD_IMAGE.UPLOAD_DATE    
		                    ,VOTE.VOTE_COUNT   
		                    ,FILE_PATH
		          FROM 
		                 BOARD
		        LEFT JOIN
		                 MEMBER ON(BOARD.MEMBER_NO = MEMBER.MEMBER_NO)
		        LEFT JOIN 
		        
		                BOARD_IMAGE  ON(BOARD.BOARD_NO = BOARD_IMAGE.BOARD_NO)
		        LEFT JOIN
		                MEMBER_IMAGE  ON(BOARD.MEMBER_NO = MEMBER_IMAGE.MEMBER_NO)
		        LEFT JOIN   
		                VOTE ON(BOARD.BOARD_NO = VOTE.BOARD_NO)
		        LEFT JOIN
		                EMOTICON ON(BOARD.BOARD_NO = EMOTICON.BOARD_NO)
		                
		        WHERE
		                BOARD_IMAGE.FILE_LEVEL = 1
		          AND 
		                EMOTICON.PRICE_STATUS = 0
		          AND
		          		WINNER = 0
		        ORDER
		           BY   
		                VOTE_COUNT DESC )
			WHERE ROWNUM BETWEEN 1 AND 10
		</select>
		<insert id="insertMainBoard" parameterType="board">
			INSERT
			  INTO 
			  		BOARD
			  		(
			  		 BOARD_NO
			  		,MEMBER_NO
			  		,BOARD_TITLE
			  		,BOARD_CONTENT
			  		,CREATE_DATE
			  		,STATUS
			  		,BOARD_COUNT
			  		,BOARD_TYPE
			  		)
			VALUES
					(
					SEQ_BOARD_NO.NEXTVAL
					,#{ memberNo }
					,#{ boardTitle }
					,#{ boardContent }
					,SYSDATE
					,'Y'
					,DEFAULT
					,'C'
					)
		</insert>
		
		<insert id="insertBoardImage" parameterType="boardImage">
			INSERT 
			INTO 
					BOARD_IMAGE
					(
					 BOARD_IMG_NO
					,BOARD_NO
					,ORIGIN_NAME
					,MODIFY_NAME
					,UPLOAD_DATE
					,FILE_LEVEL
					,FILE_PATH
					)
			VALUES
					(
					SEQ_BOARDIMG_NO.NEXTVAL
					,SEQ_BOARD_NO.CURRVAL
					,#{ originName } 
					,#{ modifyName }
					,SYSDATE
					,#{ fileLevel }
					,#{ filePath }
					)
		</insert>
		
		
		<insert id="insertPrice" parameterType="_int">
			INSERT 
			  INTO 
			  		EMOTICON
			  		(
			  		 EMOTICON_NO
			  		,BOARD_NO
			  		,PRICE
			  		,PRICE_STATUS
			  		,WINNER
			  		)
			VALUES
					(
					SEQ_EMOTICONIMG_NO.NEXTVAL
					,SEQ_BOARD_NO.CURRVAL
					,#{ price }
					,0
					,0
					)
		
		</insert> 
		
		<select id="selectVotePage" resultMap="contestBoardResultSet">
			
			SELECT  *
			        FROM(   SELECT
			        			 BOARD.BOARD_NO
			                    ,BOARD.BOARD_TITLE    
			                    ,MEMBER.NICKNAME      
			                    ,MEMBER_IMAGE.MEMBER_MODIFY_NAME   
			                    ,BOARD_IMAGE.MODIFY_NAME    
			                    ,BOARD_IMAGE.UPLOAD_DATE               
			                    ,VOTE.VOTE_COUNT   
			                    ,FILE_PATH
			          FROM 
			                 BOARD
			        LEFT JOIN
			                 MEMBER ON(BOARD.MEMBER_NO = MEMBER.MEMBER_NO)
			        LEFT JOIN 
			        
			                BOARD_IMAGE  ON(BOARD.BOARD_NO = BOARD_IMAGE.BOARD_NO)
			        LEFT JOIN
			                MEMBER_IMAGE  ON(BOARD.MEMBER_NO = MEMBER_IMAGE.MEMBER_NO)
			        LEFT JOIN   
			                VOTE ON(BOARD.BOARD_NO = VOTE.BOARD_NO)
			        LEFT JOIN
			                EMOTICON ON(BOARD.BOARD_NO = EMOTICON.BOARD_NO)
			                
			        WHERE
			                BOARD_IMAGE.FILE_LEVEL = 1
			          AND 
			                EMOTICON.PRICE_STATUS = 0
			          AND
			          		WINNER = 0
			        ORDER
			           BY   
			                UPLOAD_DATE DESC)
			WHERE ROWNUM BETWEEN 1 AND 12
			
		
		</select>
		
		<select id="selectMoreList" parameterType="contest" resultMap="contestBoardResultSet">
			 SELECT  *
			        FROM(   SELECT ROWNUM RNUM
                            ,A.* FROM(SELECT
					        			 BOARD.BOARD_NO
					                    ,BOARD.BOARD_TITLE    
					                    ,MEMBER.NICKNAME      
					                    ,MEMBER_IMAGE.MEMBER_MODIFY_NAME   
					                    ,BOARD_IMAGE.MODIFY_NAME    
					                    ,BOARD_IMAGE.UPLOAD_DATE               
					                    ,VOTE.VOTE_COUNT   
					                    ,FILE_PATH
			          FROM 
			                 BOARD
			        LEFT JOIN
			                 MEMBER ON(BOARD.MEMBER_NO = MEMBER.MEMBER_NO)
			        LEFT JOIN 
			        
			                BOARD_IMAGE  ON(BOARD.BOARD_NO = BOARD_IMAGE.BOARD_NO)
			        LEFT JOIN
			                MEMBER_IMAGE  ON(BOARD.MEMBER_NO = MEMBER_IMAGE.MEMBER_NO)
			        LEFT JOIN   
			                VOTE ON(BOARD.BOARD_NO = VOTE.BOARD_NO)
			        LEFT JOIN
			                EMOTICON ON(BOARD.BOARD_NO = EMOTICON.BOARD_NO)
			                
			        WHERE
			                BOARD_IMAGE.FILE_LEVEL = 1
			          AND 
			                EMOTICON.PRICE_STATUS = 0
			          AND
			          		WINNER = 0
			        ORDER
			           BY   
			                UPLOAD_DATE DESC)A)
			WHERE RNUM BETWEEN #{ startNumber } AND #{ endNumber }
         
		</select>
		
		<update id="increaseCount" parameterType="_int">
			UPDATE
					BOARD
			SET	
					BOARD_COUNT = BOARD_COUNT + 1
			WHERE
					BOARD_NO = #{ boardNo }
			AND
					STATUS = 'Y'
		</update>
		
		<select id="selectContestDetail" resultMap="contestBoardResultSet">
		
					SELECT
		        			 BOARD.BOARD_NO
		                    ,BOARD.BOARD_TITLE
		                    ,BOARD_CONTENT
		                    ,MEMBER.NICKNAME      
		                    ,MEMBER_IMAGE.MEMBER_MODIFY_NAME   
		                    ,BOARD_IMAGE.MODIFY_NAME    
		                    ,BOARD_IMAGE.UPLOAD_DATE 
		                    ,BOARD_COUNT
		                    ,VOTE.VOTE_COUNT   
		                    ,FILE_PATH
		                    ,BOARD_IMAGE.FILE_LEVEL
		                    ,PRICE
		                    ,VOTE.MEMBER_NO
			          FROM 
			                 BOARD
			        LEFT JOIN
			                 MEMBER ON(BOARD.MEMBER_NO = MEMBER.MEMBER_NO)
			        LEFT JOIN 
			        
			                BOARD_IMAGE  ON(BOARD.BOARD_NO = BOARD_IMAGE.BOARD_NO)
			        LEFT JOIN
			                MEMBER_IMAGE  ON(BOARD.MEMBER_NO = MEMBER_IMAGE.MEMBER_NO)
			        LEFT JOIN   
			                VOTE ON(BOARD.BOARD_NO = VOTE.BOARD_NO)
			        LEFT JOIN
			                EMOTICON ON(BOARD.BOARD_NO = EMOTICON.BOARD_NO)
			                
			        WHERE
			                
			                EMOTICON.PRICE_STATUS = 0
                      AND 
                            BOARD.BOARD_NO = #{ boardNo }
			       
		
		</select>
		<select id="selectWinnerList" resultMap="contestBoardResultSet">
					SELECT
			        			 BOARD.BOARD_NO
			                    ,BOARD.BOARD_TITLE    
			                    ,MEMBER.NICKNAME      
			                    ,MEMBER_IMAGE.MEMBER_MODIFY_NAME   
			                    ,BOARD_IMAGE.MODIFY_NAME    
			                    ,BOARD_IMAGE.UPLOAD_DATE               
			                    ,VOTE.VOTE_COUNT   
			                    ,FILE_PATH
			          FROM 
			                 BOARD
			        LEFT JOIN
			                 MEMBER ON(BOARD.MEMBER_NO = MEMBER.MEMBER_NO)
			        LEFT JOIN 
			        
			                BOARD_IMAGE  ON(BOARD.BOARD_NO = BOARD_IMAGE.BOARD_NO)
			        LEFT JOIN
			                MEMBER_IMAGE  ON(BOARD.MEMBER_NO = MEMBER_IMAGE.MEMBER_NO)
			        LEFT JOIN   
			                VOTE ON(BOARD.BOARD_NO = VOTE.BOARD_NO)
			        LEFT JOIN
			                EMOTICON ON(BOARD.BOARD_NO = EMOTICON.BOARD_NO)
			                
			        WHERE
			                BOARD_IMAGE.FILE_LEVEL = 1
			          AND 
			                EMOTICON.PRICE_STATUS = 0
			          AND
			          		WINNER = 1
			        ORDER
			           BY   
			                UPLOAD_DATE DESC
			                
		</select>
		<insert id="selectVoteLike" parameterType="" >
		
		</insert>

		
	</mapper>
	
	
	
	
	
	
	
	