<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="contestBoardMapper">
	
		<resultMap id="contestBoardResultSet" type="contestBoard">
		
			<!-- 게시판공통 테이블 -->
			<result column="BOARD_TITLE" property="boardTitle"/>
			<result column="NICKNAME" property="nickName"/>
			
			<result column="MEMBER_MODIFY_NAME" property="memberModifyName"/>
			<result column="MODIFY_NAME" property="modifyName"/>
			<result column="UPLOAD_DATE" property="uploadDate"/>
			
				
			<!-- 이모티콘테이블 -->
			<result column="EMOTICON_NO" property="emoticonNo"/>
			<result column="PRICE" property="price"/>
			<result column="PRICE_STATUS" property="priceStatus"/>
			<!-- 투표테이블  -->
			<result column="VOTE_STATUS" property="voteStatus"/>
			<result column="VOTE_COUNT" property="voteCount"/>
			<result column="FILE_PATH" property="filePath"/>
		</resultMap>
		
		<select id="selectTop10" resultMap="contestBoardResultSet">
			SELECT  *
		        FROM(   SELECT
		                     BOARD.BOARD_TITLE    -- 제목(이모티콘제목)       -- BOARD
		                    ,MEMBER.NICKNAME       -- 닉네임                -- MEMBER
		                    ,MEMBER_IMAGE.MEMBER_MODIFY_NAME    -- 수정파일(프로필)        -- MEMBER_IMAGE
		                    ,BOARD_IMAGE.MODIFY_NAME    -- 수정파일(썸네일) : 1    -- BOARD_IMAGE
		                    ,BOARD_IMAGE.UPLOAD_DATE    -- 업로드일              -- BOARD_IMAGE
		                    ,VOTE.VOTE_COUNT     -- 투표수               -- VOTE
		                    ,FILE_PATH
		          FROM 
		                 BOARD
		        LEFT JOIN
		                 MEMBER ON(BOARD.MEMBER_NO = MEMBER.MEMBER_NO)
		        LEFT JOIN 
		        
		                BOARD_IMAGE  ON(BOARD.BOARD_NO = BOARD_IMAGE.BOARD_NO)
		        LEFT JOIN
		                MEMBER_IMAGE  ON(BOARD.MEMBER_NO = MEMBER_IMAGE.MEMBER_NO)
		        LEFT JOIN   
		                VOTE ON(BOARD.BOARD_NO = VOTE.BOARD_NO)
		        LEFT JOIN
		                EMOTICON ON(BOARD.BOARD_NO = EMOTICON.BOARD_NO)
		                
		        WHERE
		                BOARD_IMAGE.FILE_LEVEL = 1
		          AND 
		                EMOTICON.PRICE_STATUS = 0
		        ORDER
		           BY   
		                VOTE_COUNT DESC )
			WHERE ROWNUM BETWEEN 1 AND 10
		</select>
		
		<insert id="insertMainBoard" parameterType="board">
			INSERT
			  INTO 
			  		BOARD
			  		(
			  		 BOARD_NO
			  		,MEMBER_NO
			  		,BOARD_TITLE
			  		,BOARD_CONTENT
			  		,CREATE_DATE
			  		,STATUS
			  		,BOARD_COUNT
			  		,BOARD_TYPE
			  		)
			VALUES
					(
					SEQ_BOARD_NO.NEXTVAL
					,3
					,#{ boardTitle }
					,#{ boardContent }
					,SYSDATE
					,'Y'
					,DEFAULT
					,'C'
					)
		</insert>
		
		<insert id="insertBoardImage" parameterType="boardImage">
			INSERT 
			INTO 
					BOARD_IMAGE
					(
					 BOARD_IMG_NO
					,BOARD_NO
					,ORIGIN_NAME
					,MODIFY_NAME
					,UPLOAD_DATE
					,FILE_LEVEL
					,FILE_PATH
					)
			VALUES
					(
					SEQ_BOARDIMG_NO.NEXTVAL
					,SEQ_BOARD_NO.CURRVAL
					,#{ originName } 
					,#{ modifyName }
					,SYSDATE
					,#{ fileLevel }
					,#{ filePath }
					)
		</insert>
		
		
		<insert id="insertPrice" parameterType="_int">
			INSERT 
			  INTO 
			  		EMOTICON
			  		(
			  		 EMOTICON_NO
			  		,BOARD_NO
			  		,PRICE
			  		,PRICE_STATUS
			  		)
			VALUES
					(
					SEQ_EMOTICONIMG_NO.NEXTVAL
					,SEQ_BOARD_NO.CURRVAL
					,#{ price }
					,0
					)
		
		</insert> 
	
		

		
	</mapper>
	
	
	
	
	
	
	
	