<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="goodsMapper">
  
  <resultMap id="goodsResultSet" type="goods">
  
  	<result column="board_no" property="boardNo" />
  	<result column="board_title" property="boardTitle" />
  	<result column="board_content" property="boardContent" />
  	<result column="member_no" property="memberNo" />
  	<result column="create_date" property="createDate" />
  	<result column="board_count" property="boardCount" />
  	<result column="nickname" property="nickName" />
  	<result column="modify_name" property="modifyName" />
  	<result column="origin_name" property="originName" />
  	<result column="file_level" property="fileLevel" />
  	<result column="member_modify_name" property="memberModifyName" />
  	<result column="file_path" property="filePath" />
  	
  	<result column="goods_no" property="goodsNo" />
  	<result column="price" property="price" />
  	<result column="draft" property="draft" />
  	<result column="modify_count" property="modifyCount" />
  	<result column="workday" property="workday" />
  	<result column="add_draft" property="addDraft" />
  	<result column="add_modify" property="addModify" />
  	<result column="amount" property="amount" />
  	<result column="goods_category" property="goodsCategory" />
  	<result column="add_info" property="addInfo" />
  </resultMap>
  <resultMap id="heartResultSet" type="heart">
    <result column="board_no" property="boardNo" />
    <result column="member_no" property="memberNo" />
   
  </resultMap>
  
  
  <resultMap id="reviewResultSet" type="review">
   <result column="review_no" property="reviewNo" />
   <result column="board_no" property="boardNo" />
   <result column="member_no" property="memberNo" />
   <result column="nickname" property="nickname" />
   <result column="star" property="star" />
   <result column="create_date" property="createDate" />
   <result column="origin_name" property="originName" />
   <result column="modify_name" property="modifyName" />
   <result column="board_title" property="boardTitle" />
   <result column="board_content" property="boardContent" />
  </resultMap>
  
  <resultMap id="boardImage" type="boardImage">
  <result column="board_no" property="boardNo"/>
  <result column="origin_name" property="originName"/>
  <result column="modifyName" property="modifyName"/>
  <result column="file_level" property="fileLevel"/>
  <result column="file_path" property="filePath"/>
  <result column="board_img_no" property="boardImgNo"/>
  
  </resultMap>
  
  
  <select id="selectListCount" resultType="_int">
	 select
            count(*)
     from
            board
	  where
	        status = 'Y'
	  and
	       board_type = 'G'
  </select>
  <select id="selectGoodsList" resultMap="goodsResultSet" parameterType="string">
	 select
	       b.board_no, 
	       board_title, 
	       nickname, 
	       to_char(create_date, 'YYYY-MM-DD') as "create_date" ,
	       price,
	       origin_name,
	       modify_name,
	       file_path,
           NVL(count(h.member_no), 0) heart
	  from 
	       goods g
      join board b on (g.board_no = b.board_no)
	  join 
	       member m on (b.member_no = m.member_no)
	  join 
	 	   board_image bi on (bi.board_no = b.board_no)
	  
	  left join
	       heart h on(g.board_no = h.board_no)
	 where
	       b.status = 'Y'
	   and 
	       board_type ='G'
	   and file_level = 1
	 group by
           b.board_no, board_title, nickname, create_date, price, origin_name, modify_name, file_path
	 order by
	     <if test="null != selectOrder and selectOrder != 'latest'">
	          <choose>
	               <when test="selectOrder == 'popularity'">
	                    heart desc,
	               </when>
	               <when test="selectOrder == 'lowPrice'">
	                    g.price asc,
	               </when>
	          </choose>
	     </if>
	      b.board_no desc
  </select>
  <select id="selectBoardImage" resultMap="boardImage" parameterType="_int">
  select file_level, 
  		 origin_name,
  		 modify_name,
         board_no,
         file_path
 	from 
 	     board_image
    join board using (board_no)
   where 
         board_no = #{boardNo}
  </select>
  <select id="selectCategoryListCount" resultType="_int">
	 select count(*)
     from board
     join goods using (board_no)
     where status = 'Y'
     and board_type = 'G'
      and goods_category = #{goodsCategory}
	      
  </select>
  <select id="selectCategoryList" resultMap="goodsResultSet" parameterType="string">
  select
       board_no, 
       board_title, 
       nickname, 
       board_count,
       to_char(create_date, 'YYYY-MM-DD') as "create_date" ,
       price,
       origin_name,
       modify_name,
       file_level,
       file_path
  from 
       board b
 join 
      member using (member_no)
 join 
 	 board_image using (board_no)
 join goods using (board_no )
 where
     b.status = 'Y'
and 
    board_type ='G'
and 
    goods_category = #{goodsCategory}
 and 
    file_level = 1
order by
	     board_no desc
  
  
  </select>
  
  <insert id="insertBoard" parameterType="board">
  insert
     into
         board
          (
          board_no,
          member_no,
          board_title,
          board_content,
          create_date,
          status,
          board_type
          )
     values
          (
          seq_board_no.nextval,
          #{memberNo},
          #{boardTitle},
          #{boardContent},
          SYSDATE,
          'Y',
          'G'
          )
  </insert>
  
  <insert id="insertGoods" parameterType="goods">
  insert
  into 
      goods
      (
      board_no,
      price,
      draft,
      modify_count,
      WORKDAY,
      add_draft,
      add_modify,
      goods_category
      )
 values
      (
      seq_board_no.currval,
      #{price},
      #{draft},
      #{modifyCount},
      #{workday},
      #{addDraft},
      #{addModify},
      #{goodsCategory}
      )
  </insert>
  <insert id="insertBoardImage" parameterType="boardImage">
  insert 
    into
        BOARD_IMAGE
      (
      BOARD_IMG_NO,
      board_no,
      origin_name,
      modify_name,
      upload_date,
      file_level,
      file_path
      )
   values
   (
   seq_boardImg_no.nextval,
   seq_board_no.currval,
   #{originName},
   #{modifyName},
   SYSDATE,
   #{fileLevel},
   #{filePath}
   
   )
  </insert>
  <update id="updateBoard" parameterType="board">
  UPDATE 
  		board
   SET 
       board_title = #{boardTitle}
       , board_content = #{boardContent}
       , create_date = SYSDATE
 WHERE board_no = #{boardNo}
  
  </update>
  <update id="updateGoods" parameterType="goods">
  update
        goods
    set
        price = #{price}
        , draft = #{draft}
        , modify_count = #{modifyCount}
        , WORKDAY = #{workday}
        , add_draft = #{addDraft}
        , add_modify =  #{addModify}
        , goods_category = #{goodsCategory}
  where 
        board_no = #{boardNo}
  AND     member_no =  #{memberNo}
  
  </update>
  <update id="updateBoardImage" parameterType="boardImage">
  update board_image
    set
        origin_name = #{originName}
        , modify_name = #{modifyName}
        , upload_date = SYSDATE
        , file_level = #{fileLevel}
        , file_path = #{filePath}
  where 
		board_no = #{boardNo}
  
  </update>
  <update id="increaseCount">
  update
        board
   set
       board_count =  board_count + 1
  where
        board_no = #{boardNo}
    and
        status = 'Y'
  </update>
  <select id="selectGoods" resultMap="goodsResultSet">
   select      b.board_no, 
	        nickname, 
	        board_title, 
	        board_content, 
	        price, 
	        draft, 
	        modify_count, 
	        workday,
	        add_draft,
	        add_modify,
	        goods_category,
	        NVL(mi.MEMBER_MODIFY_NAME, 'resources/memberUpfiles/basicProfile.jpg') MEMBER_MODIFY_NAME
	 from 
	 	    board b
	 join 
	        member m on (m.member_no = b.member_no)
	 join 
	        goods g on (g.board_no = b.board_no)
  left join 
           member_image mi on (mi.member_no = b.board_no)
	 where 
	       b.board_no = #{boardNo}
  
  </select>
  <select id="selectReviewCount" resultType="_int" >
	select 
	       * 
	 from 
	 		review
	join 
		  board using(board_no)
	where 
		 board_no = #{boardNo}
  </select>
  <select id="selectReviewList" resultMap="reviewResultSet">
select
       nickname
      ,board_content
      ,star
      ,create_date
  from
       board b
  join
       member m using(member_no)
  join
       review using(member_no)
 where 
 	   board_type = 'R'
   and
       member_no in (select
                           member_no
                      from
                           review r
                     where
                           board_no = #{boardNo})
  </select>
  <select id="selectReplyList" resultType="reply">
  select
         reply_no replyNo,
  		 member_no memberNo,
       	 nickname nickname,
         content content,
         to_char(create_date, 'YYYY-MM-DD') as "createDate"
 	from  reply
  	join  member using (member_no)
	where board_no = #{boardNo}
 	order 
 	   by 
 	       create_date desc
  </select>
  <select id="selectReplyListCount" resultType="_int">
  select 
  		count(*) 
   from 
        reply 
 where 
       board_no = #{boardNo}
  
  </select>
  <insert id="insertReply" parameterType="reply">
  insert
    into
         reply
          (
              reply_no, 
               board_no,
               member_no,
               content,
               create_date
                   ) 
         values
                  (
                seq_reply_no.nextval,
                #{boardNo},
               #{memberNo},
               #{content},
               SYSDATE
                   )
  </insert>
  <select id="selectReReplyList" resultType="reReply">
	select nickname , 
		   content
	from 
	      re_reply
	join 
	      member using (member_no)
	where 
	      reply_no = #{replyNo}
  
  </select>
  <select id="selectHeartList" resultType="heart">
	select 
		    board_no , h.member_no
      from heart h
 left join board b using (board_no)
     where board_type ='G'
       and h.member_no = #{memberNo}
  </select>
  <select id="selectHeart" resultMap="heartResultSet" parameterType="_int">
  select 
          board_no,
          h.member_no
	from 
		  heart h
    join board b using (board_no)
	where board_type = 'G'
    and board_no = #{boardNo}
    and h.member_no = #{memberNo}
  </select>
  <delete id="deleteHeart"   parameterType="_int">
  DELETE
	FROM heart
	WHERE 
		 board_no = #{boardNo}
	and     
		 member_no = #{memberNo}
  </delete>
  <insert id="insertHeart" parameterType="heart">
  insert 
    into
         heart
  values
	     (
	     #{boardNo},
	     #{memberNo}
	     )
  
  </insert>
  
  
  <select id="searchGoodsCount" resultType="_int" parameterType="hashmap">
  select count(*)
	from board
	join goods using(board_no)
	join member using(member_no)
	where board_type ='G'
	<if test="condition == 'nickname'">
	 and nickname
	</if>
	<if test="condition == 'boardTitle'">
	and board_title
	</if>
	like '%' || #{keyword} || '%'
 </select>
 <select id="searchGoods" resultMap="goodsResultSet" parameterType="hashmap">
     select
          board_no, 
          board_title, 
          nickname, 
          board_count,
          to_char(create_date, 'YYYY-MM-DD') as "create_date" ,
          price,
          origin_name,
          file_level,
          file_path
     from 
          board b
     join 
          member using (member_no)
     join 
          board_image using (board_no)
     join goods using (board_no )
     where
          b.status = 'Y'
     and 
     board_type ='G'
     and file_level = 1
     <if test="condition == 'nickname'">
          and nickname
     </if>
     <if test="condition == 'boardTitle'">
          and board_title
     </if>
          like '%' || #{keyword} || '%'
     
     order by
     
     board_no asc
     
 </select>
 <delete id="deleteReply" parameterType="_int">
 DELETE
  FROM reply
 WHERE 
       reply_no = #{replyNo}
 </delete>
<insert id="insertOrder" parameterType="goodsOrder">
insert
  into
       goods_order
values
       (
       seq_goods_order.nextval,
       #{boardNo},
       #{memberNo},
       #{orderTitle},
       #{price},
       #{amount},
       '결제완료',
       SYSDATE,
       #{addDraft},
       #{addModify}
       )
</insert>
 
 
  



</mapper>

