<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<!-- memberResultSet -->
	<resultMap id="memberResultSet" type="member">
		<result column="member_no" property="memberNo" />
		<result column="member_grade" property="memberGrade" />
		<result column="member_id" property="memberId" />
		<result column="member_pwd" property="memberPwd" />
		<result column="member_name" property="memberName" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="pay_account" property="payAccount" />
		<result column="email_agree" property="emailAgree" />
		<result column="status" property="status" />
		<result column="enroll_date" property="enrollDate" />
		<result column="modify_date" property="modifyDate" />
	</resultMap>
	
	<!-- 로그인용 쿼리문 -->
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		select
			   member_no
			  ,member_grade
			  ,member_id
			  ,member_pwd
			  ,member_name
			  ,nickname
			  ,phone
			  ,email
			  ,address
			  ,pay_account
			  ,email_agree
			  ,status
			  ,enroll_date
			  ,modify_date
		  from
		 	   member
		 where
		 	   member_id = #{memberId}
		   and
		   	   status = 'N'	
	</select>
	
	<!-- 아이디 중복체크용 쿼리문 -->
	<select id="idCheckMember" resultType="_int">
		select
			   count(*)
		  from
		  	   member
		 where
		 	   member_id = #{checkId}
	</select>
	
	<!-- 닉네임 중복체크용 쿼리문 -->
	<select id="nickCheckMember" resultType="_int">
		select
		       count(*)
		  from
		  	   member
		 where
		 	   nickname = #{checkNick}
	</select>
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="signUpMember" >
		insert
		  into
		       member
		       (
		       member_no
		      ,member_grade
		      ,member_id
		      ,member_pwd
		      ,member_name
		      ,nickname
		      ,phone
		      ,email
		      ,email_agree
		      ,status
		      ,enroll_date
		       )
		values
			   (
			   seq_member_no.nextval
			  ,#{memberGrade}
			  ,#{memberId}
			  ,#{memberPwd}
			  ,#{memberName}
			  ,#{nickName}
			  ,#{phone}
			  ,#{email}
			  ,#{emailAgree}
			  ,default
			  ,default			   
			   )
	</insert>
</mapper>