
@charset "UTF-8";
    
    #leftContent div, #rightContent div {
        border : 1px solid #FF8399;
    }

    #leftContent{
        border : 1px solid #FF8399;
        float : left;
        width : 300px;
    }
    #rightContent{
        border : 1px solid #FF8399;
        margin-left : 50px;
        float : left;
        width : 950px;
    }
