@charset "UTF-8";
	/* 스타일 초기화 */
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        
    }
    button{
        cursor: pointer;
    }
    *{
        padding : 0;
        margin : 0;
        list-style: none !important;
        text-decoration : none !important;
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
    }

    /* 공용 클래스 */
    /* float 부모요소에는 무조건 clear 삽입 */
    .clear::after {
        content: '';
        display: block;
        clear: both;
    }

    /* 헤더 빈공간 채워놓는 용 */
    #blankHeader{
        height : 80px;
    }

    #mainWrap{
        width: 400px;
        margin: 0 auto;
        height: 1500px;
        display : block;
    }
    /* 로고 크기 */
    #enrollLogo{
        margin : auto;
        width : 200px;
        height : 200px;
        overflow: hidden;
    }

    #enrollLogo img{
        width : 100%;
        height : 100%;
    }

    /* 제목 */
    #signUpTitle{
        margin : 15px 0px;
        line-height: normal;
    }

    /* 메인영역 */
    #signUpInput input{
        margin-top : 20px;
        height : 50px;
        width : 400px;
        padding-left: 20px;
        border-radius: 5px;
        border : 1px solid #85727d;
    }
    #signUpInput label{
    	display : inline-block;
        font-weight: bold;
        margin-top : 20px;
    }

    #signUpCheckbox{
        border-radius : 5px;
        border : 1px solid #85727d;
        height : 90px;
        margin-bottom: 20px;
        margin-top : 20px;
    }
    #signUpCheckbox input{
        margin : 20px 0px 5px 20px;
    }
    #signUpMain button{
        width : 400px;
        height : 60px;
        margin : auto;
        background-color: #FF8399;
        border : none;
        color : #fff;
        border-radius: 5px;
        font-size: 15px;
    }
    #signUpInput div{
    	padding-left : 20px;
    	margin-top : 10px;
    	color : #85727d;
    	font-size : 14px;
    	display : none;
    }